/*universal*/
html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: sans-serif;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 760px) {
   html {
     font-size: 16px;
   }
}

/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1.5rem;
  max-height: 64px;
  background-color: rgb(245, 250, 250);
}

.logo {
  display: flex;
  align-items: center;
  width: 90%;
  max-height: 32px;
  text-transform: uppercase;
}

.logo-desktop img {
  height: 2.25rem;
  width: auto;
}

.logo h1 {
  font-size: 1.4rem;
}

.colmar {
  color: rgb(13, 13, 13);
  font-weight: bold;
}

.academy {
  color: rgb(92, 158, 173);
  font-weight: bold;
}

.desktop-nav {
  display: flex;
  white-space: nowrap;
  font-weight: 600;
}

.desktop-icon {
  width: 100%;
  margin: auto 0.3rem;
  padding: 0.5rem;
  text-decoration: none;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 7px;
  background-color: rgb(184, 184, 184);
}

.desktop-icon:visited, .desktop-icon:link {
  color: rgb(13, 13, 13);
}

.desktop-icon:hover {
  background-color: rgb(204, 204, 204);
  transition: background-color 0.7s linear;
}

.desktop-icon:active {
  background-color: rgb(184, 184, 184);
}


.mobile-nav {
  display: none;
}

@media only screen and (max-width:760px) {
  .desktop-nav {
    display: none;
  }

  .logo {
     display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mobile-nav img {
    height: 2rem;
    width: auto;
  }
}

/*Banner*/
.banner {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(92, 158, 173);
  border-bottom: 1px solid rgb(204, 204, 204);
}

.banner img {
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.banner-text {
  display: block;
  width: 100%;
  margin: auto 4rem auto 1.5rem;
  line-height: 1.25;
  color: rgb(50, 50, 50);
}

.banner-text h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

.paragraph {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  line-height: 1.5;
}

.button {
  margin-top: 2.5rem;
  padding: 0.5rem;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(74, 74, 74);
  color: rgb(255, 255, 255);
}

.button a:visited, .button a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.button:hover {
  background-color: rgb(94, 94, 94);
  cursor: pointer;
  transition: background-color 0.7s ease 0.1s;
}

.button:active {
  background-color: rgb(74, 74, 74);
}

@media only screen and (max-width: 1020px) {

  .banner-text {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
    max-width: 100%;
  }

  .banner img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .desktop-icon {
    padding: 0;
  }

  .banner-text {
    width: 95%;
    margin: 2rem 1rem;
  }

  .banner-text h2 {
    font-size: 2.2rem;
    margin: auto 1.1rem 2rem 1rem;
  }

  .paragraph {
    font-size: 1.4rem;
    margin: auto 1rem;
  }

  .button {
    width: 80%;
    margin: 1.5rem auto 0 auto;
  }

  .button:hover {
    background-color: rgb(74, 74, 74);
  }
  .button:active {
    background-color: rgb(94, 94, 94);
  }
}

/*main*/
main {
  display: flex;
  align-items: flex-start;
  background-color: rgb(245, 250, 250);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 60%;
  color: rgb(13, 13, 13);
}

.main img {
  height: auto;
  width: 100%;
}

.main h2 {
  margin: 32px 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.main-info {
  width: 90%;
  font-size: 1.3rem;
  line-height: 1.25;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  line-height: 1.5;
  font-family: "Times New Roman", serif;
  color: rgb(13, 13, 13);
}

.caption {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}

@media only screen and (max-width: 760px) {
  .main {
    display: none;
  }
}

/*aside of main*/
.main-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  width: 40%;
}

.main-aside figure {
  display: flex;
  align-items: flex-start;
  border-top: 1.5px solid rgb(204, 204, 204);
  border-left: 1.5px solid rgb(204, 204, 204);
  border-right: 1.5px solid rgb(204, 204, 204);
}

.main-aside figure:hover {
  background-color: rgb(204, 204, 204);
  transition: background-color 0.7s ease-out 0.1s;
}

.bottom {
  border-bottom: 1.5px solid rgb(204, 204, 204);
}

.desktop-image {
  margin: 1rem;
  width: 35%;
  height: auto;
}

.aside-info {
  align-self: center;
  width: 65%;
  color: rgb(13, 13, 13);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.aside-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.aside-info p {
  width: 70%;
  font-size: 1.1rem;
  font-family: "Times New Roman", serif;
}

.read {
  margin-top: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 1.25rem;
}

.read a {
  color: rgb(74, 144, 226);
  text-decoration: none;
  font-weight: 400;
}

.read a:visited {
  color: rgb(74, 144, 226);
}

.read a:hover {
  text-decoration: underline;
}

.mobile-image {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }

  .main-aside {
    margin: 1rem;
    padding: 0;
    width: 100%;
    border: none;
  }

  .main-aside figure {
    flex-direction: column;
    border: none;
  }

  .main-aside figure img {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .aside-info {
    align-self: flex-start;
    width: 100%;
  }

  .aside-info h3 {
    font-size: 1.75rem;
  }

  .aside-info p {
    font-size: 1.1rem;
    width: 100%;
  }

  .read {
    margin-bottom: 2rem;
  }

  .read:hover {
    text-decoration: none;
  }

  .read:active {
    text-decoration: underline;
  }

  .main-aside figure:hover {
    background-color: inherit;
  }
}

/*classes*/
.classes {
  padding: 2rem 4.5rem;
  color: rgb(13, 13, 13);
  background-color: rgb(92, 158, 173);
}

.classes h1 {
  margin: 2rem auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

.class{
  display: flex;
}

.class figure {
  margin: 1rem 1rem;
  width: 40%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px groove rgb(245, 250, 250);
}

.class figure img {
  height: auto;
  width: 100%;
}

.class figcaption {
  padding: 0 1rem 2rem 1rem;
  width: 85%;
  font-size: 1.1rem;
  line-height: 1.5;
  word-spacing: 1.2px;
}

.class figcaption h3 {
  margin: 1rem auto;
  font-size: 1.6rem;
  font-weight: bold;
}

.class figcaption p {
  font-size: 1.3rem;
  font-family: "Times New Roman", serif;
}

.course {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.class figure a:visited, .class figure a:link {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.class figure:hover {
  background-color: rgb(204, 204, 204);
  transition: background-color 0.4s ease;
}

.class figure:active {
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 760px) {
  .classes figure img, .class figcaption p {
    display: none;
  }

  .classes {
    padding: 0 0 2rem 0;
  }

  .class {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .class figcaption {
    padding: 0;
  }

  .class figure {
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 8px;
    text-align: left;
    width: 80%;
  }

  .class figcaption {
    margin: auto;
    width: 100%;
  }

  .class figcaption h3 {
    margin: 0;
  }

  .class figure:hover {
    background-color: rgb(255, 255, 255);
  }

  .class figure:active {
    background-color: rgb(204, 204, 204);
  }
}

/*exhibit*/

.exhibit {
  background-color: rgb(245, 250, 250);
  color: rgb(13, 13, 13);
}

.exhibit h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.exhibit-front {
  display: flex;
}

.video {
display: flex;
flex-direction: column;
margin: 0 1.5rem;
width: 60%;
height: auto;
}

video {
  width: 100%;
  cursor: pointer;
}

.video h2{
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.video p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-family: "Times New Roman", serif;
  line-height: 1.6;
}

.thesis-aside {
  width: 40%;
  color: rgb( 13, 13, 13);
}

.thesis-aside figure {
  display: flex;
  align-items: flex-start;
}

.thesis-aside figcaption {
  align-self: center;
  width: 65%;
}

.thesis-aside figcaption h3 {
  font-size: 1.5rem;
  font-weight: bold;
  word-spacing: 1px;
  line-height: 1.5;
}

.thesis-aside figcaption p {
  margin-top: 0.5rem;
  width: 90%;
  word-spacing: 1px;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: "Times New Roman", serif;
}

.thesis-aside img {
  margin: 1rem;
  width: 35%;
  height: auto;
}

.thesis-aside figure:hover {
  background-color: rgb(204, 204, 204);
  transition: background-color 0.7s ease-out 0.1s;
}

@media only screen and (max-width: 760px) {
  .video-info, .thesis-aside {
    display: none;
  }

  .exhibit h1 {
    margin: 2rem auto 1rem auto;
  }

  .video {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }

  video{
    width: 100%;
  }
  .thesis-aside figure:hover {
    background-color: inherit);
  }
}

/*footer*/
footer {
  display: flex;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-top: 1px solid rgb(224, 226, 226);
  color: rgb(204, 204, 204);
  background-color: rgb(76, 76, 76);
}

footer nav {
  display: flex;
}

footer span {
  width: 100%;
}

footer nav a{
  margin-left: 1rem;
  text-decoration: none;
}

footer nav a:visited, footer a:link {
  color: rgb(204, 204, 204);
}

footer nav a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:760px) {
  footer nav {
    display: none;
  }

  footer {
    padding: 1rem;
    font-size: 0.9rem;
  }
}
